{% extends 'layouts/base.html.twig' %}


{% block title %}CV Builder | Titouan Thd{% endblock %}

{% block body %}
    <div style="margin-top:56px;" class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <h1>CV Builder</h1>
                {{ component('flashes') }}

                {% if isLogged %}
                  {{ component('cv_builder') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}