{% extends 'layouts/base.html.twig' %}

{% block title %}Titouan Thd | Developpeur web freelance
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row align-items-center justify-content-center screen-height">
			<div class="col-12 col-md-8 col-lg-6">
				<h1 class="text-center mb-4">Hello, my name is Titouan and I am a full-stack web developer based in France.</h1>
				<div class="d-flex justify-content-between">
					<a href="https://github.com/titouanthd" target="_blank">
						<img class="img-fluid" src="https://img.icons8.com/glyph-neue/36/null/github.svg" alt="github icon">
					</a>
					<a href="https://discord.com/UmMV8Zun" target="_blank">
						<img class="img-fluid" src="https://img.icons8.com/color/36/null/discord.svg" alt="discord icon">
					</a>
					<a href="https://www.youtube.com/@titouanthd2799" target="_blank">
						<img class="img-fluid" src="https://img.icons8.com/color/36/null/youtube-play.svg" alt="youtube icon">
					</a>
					<a href="https://twitter.com/titouanthd" target="_blank">
						<img class="img-fluid" src="https://img.icons8.com/color/36/null/twitter.svg" alt="twitter icon">
					</a>
					<a href="https://www.instagram.com/titouanthd/" target="_blank">
						<img class="img-fluid" src="https://img.icons8.com/color/36/null/instagram-new--v1.svg" alt="instagram icon">
					</a>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-10 col-md-6 col-lg-5 d-flex flex-column justify-content-center">
				<div class="card bg-light border-0">
					<div class="card-body d-flex flex-column">
						<p class="font-monospace">
							Hello, my name is Titouan Thebaud and
							<strong>I am a passionate and self-taught full-stack web developer</strong>. I have been working as an independent developer for the past 6 years for companies around the world (always working remotely).<br><br>
							<b>I am constantly learning new development methods</b>
							to offer solutions that are always better suited to our projects. My ambition is to create something that could transform the daily lives of developers.
							<br><br>
							I particularly enjoy using AI and blockchain to create the web of tomorrow. I am also a big fan of open source and I intend to give back to the community what it has given me by sharing my discoveries."
						</p>
						<p class="text-end font-monospace m-0">17/12/2022 01:47</p>
					</div>
				</div>
			</div>
			<div class="col-2 col-lg-1">
				<img class="img-fluid rounded-circle" src="https://avatars.githubusercontent.com/u/45697224?v=4" alt="github profile picture">
			</div>
		</div>

		<div class="row align-items-center justify-content-center vh-100">
			<div class="col-12">
				<h2 class="text-center mb-4">Derniers articles</h2>
			</div>
		</div>

	</div>

{% endblock %}