{% extends 'layouts/base.html.twig' %}

{% block title %}Hello FrontController!
{% endblock %}

{% block body %}
	<div class="container">

		<div class="row align-items-center justify-content-center screen-height">
			<div class="col-12 col-md-8 col-lg-6">
				<h1 class="text-center mb-4">Hello, moi c'est Titouan, un développeur web full-stack basé en France.</h1>
				<div class="d-flex justify-content-between">
					<a href="">
						<img class="img-fluid" src="https://img.icons8.com/glyph-neue/36/null/github.svg" alt="github icon">
					</a>
					<a href="">
						<img class="img-fluid" src="https://img.icons8.com/color/36/discord.svg" alt="discord icon">
					</a>
					<a href="">
						<img class="img-fluid" src="https://img.icons8.com/color/36/twitter.svg" alt="twitter icon">
					</a>
					<a href="">
						<img class="img-fluid" src="https://img.icons8.com/color/36/null/instagram-new--v1.svg" alt="instagram icon">
					</a>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-10 col-md-6 col-lg-5 d-flex flex-column justify-content-center">
				<div class="card bg-light border-0">
					<div class="card-body d-flex flex-column">
						<p class="font-monospace">
							Bonjour, je m'appelle Titouan Thebaud et
							<strong>je suis un développeur web full-stack passionné et autodidacte</strong>. Je travaille en tant que développeur indépendant depuis les 5 dernières années pour des entreprises du monde entier (toujours en télétravail).<br><br>
							<b>Je suis constamment en train d'apprendre de nouvelles méthodes de développement</b>
							pour offrir des solutions toujours mieux adaptées à nos projets. Mon ambition est de créer quelque chose qui pourrait transformer la vie quotidienne des développeurs.
							<br><br>
							J'apprécie particulièrement utiliser l'IA et la blockchain pour créer le web de demain. Je suis également un grand fan d'open source et je compte bien rendre à la communauté ce quelle m'a apporté en partageant mes découvertes.
						</p>
						<p class="text-end font-monospace m-0">17/12/2022 01:47</p>
					</div>
				</div>
			</div>
			<div class="col-2 col-lg-1">
				<img class="img-fluid rounded-circle" src="https://avatars.githubusercontent.com/u/45697224?v=4" alt="github profile picture">
			</div>
		</div>

    <div class="row align-items-center justify-content-center screen-height">
      <div class="col-12 col-md-8 col-lg-6">
        <h2 class="text-center">Mes outils favoris</h2>
      </div>
    </div>

	</div>

{% endblock %}
