{% extends 'layouts/base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="" style="margin-top:56px;"></div>
{% endblock %}