<div id="cv" class="row equal border mx-0 px-0 mb-0">
	<div class="col-12 col-sm-5 col-md-4 col-lg-3 px-0 order-1 order-sm-0">
		<div class="bg-light h-100 p-3 p-lg-4">
			<img style="width:240px;" class="img-thumbnail rounded-circle shadow mb-3" src="https://dam.malt.com/guz7tdpxgfunfupdkcpu?gravity=face&func=face&face_margin=60&w=440&h=440&force_format=png" alt="">

			<div id="contact-me" class="mb-4">
				<h4>Contact me</h4>
				<div class="d-flex">
					<small class="mb-1">
						<i class="bi bi-envelope-paper me-2"></i>
					</small>
					<small style="">titouan.thd@gmail.com</small>
				</div>
				<div class="d-flex">
					<small class="mb-1">
						<i class="bi bi-phone-vibrate me-2"></i>
					</small>
					<small>+33 7 70 88 22 38</small>
				</div>
				<div class="d-flex">
					<small>
						<i class="bi bi-pin-map me-2"></i>
					</small>
					<small>1 allée marie paradis<br>
						74000 Annecy</small>
				</div>
			</div>

			<div id="my-skills" class="mb-4">
				<h4>My favorite tools</h4>

				<div class="row g-2 my-2">
					<div class="col-auto">
						<img width="25" src="/img/php-logo.png" class="img-fluid" alt="mysql logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div style="width:90%;" class="progress-bar bg-php" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
								PHP 8.2 - 90%
							</div>
						</div>
					</div>
				</div>

				<div class="row g-2 my-2">
					<div class="col-auto">
						<img width="25" src="/img/typescript-logo.png" class="img-fluid" alt="mysql logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div style="width:75%;" class="progress-bar bg-typescript" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
								Typescript 4.9 - 75%
							</div>
						</div>
					</div>
				</div>

				<div class="row g-2 my-2">
					<div class="col-auto">
						<img width="25" src="/img/mysql-logo.png" class="img-fluid" alt="mysql logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div style="width:60%;" class="progress-bar bg-mysql" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">MySQL 8.0 - 60%</div>
						</div>
					</div>
				</div>

				<div class="row g-2 my-2">
					<div class="col-auto">
						<img width="25" src="/img/wordpress-logo.png" class="img-fluid" alt="wordpress logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div style="width:90%;" class="progress-bar bg-wordpress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">WordPress 6.1 - 90%</div>
						</div>
					</div>
				</div>

				<div class="row g-2 my-2">
					<div class="col-auto">
						<img width="25" src="/img/symfony.svg" class="img-fluid" alt="symfony logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div class="progress-bar bg-symfony w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Symfony 6.2 - 75%</div>
						</div>
					</div>
				</div>

				<div class="row g-2 mt-2">
					<div class="col-auto">
						<img width="25" src="/img/bootstrap-logo.png" class="img-fluid" alt="symfony logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div class="progress-bar bg-bootstrap w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Bootstrap 5.3 - 100%</div>
						</div>
					</div>
				</div>

			</div>

			<div id="languages">
				<h4>Language skills</h4>

				<div class="row g-2 mt-2" id="french-skill">
					<div class="col-auto">
						<img width="25" src="/img/french-flag.png" class="img-fluid" alt="symfony logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div class="progress-bar bg-french w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">French - 100%</div>
						</div>
					</div>
				</div>

				<div class="row g-2 mt-2" id="english-skill">
					<div class="col-auto">
						<img width="25" src="/img/united-kingdom-flag.png" class="img-fluid" alt="symfony logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div class="progress-bar bg-english w-75" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">English - 75%</div>
						</div>
					</div>
				</div>

				<div class="row g-2 mt-2" id="spain-skill">
					<div class="col-auto">
						<img width="25" src="/img/spain-flag.png" class="img-fluid" alt="symfony logo">
					</div>
					<div class="col d-flex align-items-center">
						<div class="progress w-100">
							<div class="progress-bar bg-spain w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Spanish - 50%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-7 col-md-8 col-lg-9 px-3 my-3">
		<main>
			<h2 class="h4">Titouan Thebaud</h2>
			<h1 class="mb-4">Full-Stack web developper</h1>

			<section id="profil">
				<h3 class="mb-3">Profil</h3>
				<p>Hello, my name is Titouan Thebaud and I am a 27 years old passionate and self-taught full-stack web developer. I am looking for the next opportunity that will take me to the next level as a developer.</p>
				<hr>
			</section>

			<section id="experience">
				<h3 class="mb-3">Professional experiences</h3>

				<div class="row my-3" id="siclem-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/siclem-logo.jfif" alt="">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Full-stack web developer</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-siclem-xp" aria-expanded="false" aria-controls="collapse-siclem-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://siclem.fr" target="_blank">Siclem</a>
								</small>
								<small class="m-0 mb-2">June 2017 - Today . 5 years and 8 mounths</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-siclem-xp">
									<li>
										<small>Project management (landing page, dynamic and e-commerce) from the specification to the production.</small>
									</li>
									<li>
										<small>Optimization of natural referencing and performance (caching, minification, image conversion...) of WordPress site</small>
									</li>
									<li>
										<small>Creation of WordPress Themes & Plugins for several objectives (custom blocks, admin pages...)</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="en-bourse-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/en-bourse-logo.jfif" alt="">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Back-end developer</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-en-bourse-xp" aria-expanded="false" aria-controls="collapse-en-bourse-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://en-bourse.fr" target="_blank">En Bourse</a>
								</small>
								<small class="m-0 mb-2">June 2021 - December 2022 . 1 year and 7 mounths</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-en-bourse-xp">
									<li>
										<small>Creation of a wordpress plugin to replace google analytics</small>
									</li>
									<li>
										<small>Creation of php/sql scripts to automate database manipulation (migration, update,save...)</small>
									</li>
									<li>
										<small>Creation of SPA with Vue.js and REST API</small>
									</li>
									<li>
										<small>Javascripts and CSS optimisation</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="webmecanik-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/webmecanik-logo.jfif" alt="">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Business developer</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-webmecanik-xp" aria-expanded="false" aria-controls="collapse-webmecanik-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://www.webmecanik.com/" target="_blank">Webmecanik</a>
								</small>
								<small class="m-0 mb-2">October 2018 - April 2019 . 7 mounths</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-webmecanik-xp">
									<li>
										<small>Creation of a customer portfolio</small>
									</li>
									<li>
										<small>Acquisition through marketing automation (<a href="https://www.mautic.org/" target="_blank">Mautic</a>)</small>
									</li>
									<li>
										<small>Webinar and video conference animation</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="bmw-group-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/bmw-group-logo.jfif" alt="bmw-group logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Sales assistant</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-bmw-group-xp" aria-expanded="false" aria-controls="collapse-bmw-group-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://partenaire.bmw-motorrad.fr/grandprixmotos" target="_blank">BMW GrandPrix Moto</a>
								</small>
								<small class="m-0 mb-2">November 2017 - October 2018 . 1 year and 1 mounths</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-bmw-group-xp">
									<li>
										<small>Implementation of new processes for the sales team (photo booth, online cross platform selling for second hand)</small>
									</li>
									<li>
										<small>Customer care & support</small>
									</li>
									<li>
										<small>Sale and follow-up of motorcycle insurance contracts</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="sunimmo-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/sunimmo-logo.jfif" alt="sunimmo logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Sales assistant</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sunimmo-xp" aria-expanded="false" aria-controls="collapse-sunimmo-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://mysunimmo.ch/" target="_blank">Sunimmo</a>
								</small>
								<small class="m-0 mb-2">February 2017 - November 2017 . 10 mounths</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-sunimmo-xp">
									<li>
										<small>Creation of the agency's website with WordPress</small>
									</li>
									<li>
										<small>Implementation of commercial operations (distribution of flyers, telephone and online canvassing)</small>
									</li>
									<li>
										<small>Customer reception, visit of property</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="french-army-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/armee-de-terre-logo.jfif" alt="armee de terre logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Sergeant - Aircraft Mechanics</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-french-army-xp" aria-expanded="false" aria-controls="collapse-french-army-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://www.sengager.fr/regiments/4e-regiment-dhelicopteres-des-forces-speciales" target="_blank">4th RHFS</a>
								</small>
								<small class="m-0 mb-2">February 2015 - February 2017 . 2 years</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-french-army-xp">
									<li>
										<small>Creation of the agency's website with WordPress</small>
									</li>
									<li>
										<small>Implementation of commercial operations (distribution of flyers, telephone and online canvassing)</small>
									</li>
									<li>
										<small>Customer reception, visit of property</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</section>

			<section id="education">
				<h3 class="mb-3">Training & Education</h3>

				<div class="row my-3" id="ipac-bachelor-factory-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/ipac-bachelor-factory-logo.jfif" alt="armee de terre logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Bachelor Communication and Web Marketing</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ipac-bachelor-factory-xp" aria-expanded="false" aria-controls="collapse-ipac-bachelor-factory-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://www.ipacbachelorfactory.com/" target="_blank">Ipac Bachelor Factory</a>
								</small>
								<small class="m-0 mb-2">September 2018 - June 2019 . 1 years</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-ipac-bachelor-factory-xp">
									<li>
										<small>Titre II, Communication numérique - multimédia</small>
									</li>
									<li>
										<small>Learning of content creation/management tools (PhotoShop, Illustrator, WordPress...)</small>
									</li>
									<li>
										<small>Use of different digital communication channels (social networks, emailing, search engine advertising...)</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="ipac-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/ipac-logo.jfif" alt="ipac logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Professional training for sales assistants</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ipac-xp" aria-expanded="false" aria-controls="collapse-ipac-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://www.ipac-france.com/" target="_blank">IPAC</a>
								</small>
								<small class="m-0 mb-2">September 2017 - June 2018 . 1 years</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-ipac-xp">
									<li>
										<small>Title III, Sales techniques and sales operations</small>
									</li>
									<li>
										<small>Learning of sales techniques, canvassing and customer follow-up</small>
									</li>
									<li>
										<small>Learning of the Office suite (Excel, PPT...)</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3" id="ensoa-xp">
					<div class="col-auto">
						<img style="max-width:45px;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/ensoa-logo.jfif" alt="ipac bachelor factory logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Technical certificate of 1st level, Military</h4>
							</div>
							<div class="col-auto">
								<small class="rotate" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ensoa-xp" aria-expanded="false" aria-controls="collapse-ensoa-xp" data-controller="CV" data-action="click->CV#rotate">
									<i class="bi bi-arrow-down"></i>
								</small>
							</div>
							<div class="col-12">
								<small>
									<a href="https://www.defense.gouv.fr/terre/ecole-nationale-officiers-dactive" target="_blank">ENSOA</a>
								</small>
								<small class="m-0 mb-2">September 2015 - May 2016 . 8 months</small>
							</div>
							<div class="col-12">
								<ul class="collapse mb-0" id="collapse-ensoa-xp">
									<li>
										<small>Validation of TOEIC level B1 (ability to speak English)</small>
									</li>
									<li>
										<small>Learning of the military discipline</small>
									</li>
									<li>
										<small>Command training as a team leader</small>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row my-3">
					<div class="col-auto">
						<img style="max-width:45px; background-size:cover;" class="img-thumbnail p-0 rounded-circle shadow" src="/img/academy-grenoble.png" alt="academy de grenobles logo">
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<h5 class="m-0">Scientific Baccalaureate</h4>
							</div>
							<div class="col-12">
								<small>
									<a href="https://ambroise-croizat.ent.auvergnerhonealpes.fr/" target="_blank">Ambroise Croizat high school</a>
								</small>
								<small class="m-0 mb-2">Jully 2014</small>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</section>

			<section id="outside-of-work">
				<h3>Outside of work</h3>
				<p class="mb-0">In my free time, I enjoy learning and improving my skills by working on personal projects and hobbies. I also value spending time with my loved ones, whether it be with my family or friends. I have a passion for travel and exploring different cultures. I find great joy in discovering new places and learning about the history and customs of different parts of the world.</p>
			</section>
		</main>
	</div>
</div>
