
{# How to use it ? #}
<div class="card">
	<div class="card-header">
    <h2 class="mb-0">How to use it ?</h2>
  </div>
	<div class="card-body">
		<h3>1. Complete profile information</h3>
		<p>Two solutions :
			<ol>
				<li>Connect your LinkedIn account to scrap data and auto complete form.</li>
				<li>Complete form manualy</li>
			</ol>
		</p>
		<h3>2. Choose a template</h3>
		<p>For the moment there is only on html template available (not realy hard to choose for now). Do not hesitate if you have a templaate to share with the community. You can send your custom template by creating a new reqest on the github repository of the project.</p>
		<h3>3. Get result</h3>
		<p>Just download your CV, that's it.</p>
	</div>
</div>
